[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
pelican = "==3.6.3"
disqus-python = "==0.4.2"
Fabric = "==1.14.0"
Markdown = "==2.6.11"
pelican-gist = "*"

[requires]
python_version = "3.6"
